/* !global vars start */

:root {
  --backgroundcolorofcards: #2d337e;
  --borderColorPrimary: #6b70ae;
  --grayColorFont: #cbcbcb;
  --borderRadiusPrimary: 16px;
  --primaryRed: #ff0000;
  --primaryBlue: #0062a2;
}

/* !global vars end */

/* ! common used styles */

.registration-items-bg {
  padding: 12px 10px;
  background-color: var(--backgroundcolorofcards);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.43);
  font-size: 2em;
  border-radius: 8px;
}

.registration__label {
  font-size: 1.6em;
  color: white;
  margin-left: 5px;
}
.registration__parent {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.primary-button {
  padding: 8px 15px;
  border-radius: 9px;
  outline: none;
  border: none;
  background-color: #0062a2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}
.primary-button:hover {
  background-color: #005993;
}
.primary-button:focus-visible {
  outline: 2px white solid;
}

input {
  color: white;
  caret-color: white;
}

input::placeholder {
  color: var(--grayColorFont);
}
input:focus {
  outline: 2px solid white;
}
.cancel-btn {
  background-color: var(--primaryRed);
  padding: 8px 15px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cancel-btn:hover {
  background-color: #e30000;
}
.cancel-btn:active {
  background-color: #bb0000;
}
.cancel-btn:focus-visible {
  outline: 2px solid white;
}
.add-btn {
  background-color: var(--primaryBlue);
  padding: 8px 15px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.add-btn:hover {
  background-color: #005993;
}
.add-btn:active {
  background-color: #004e82;
}
.add-btn:focus-visible {
  outline: 2px solid white;
}

@media screen and (max-width: 1000px) {
  .registration-items-bg {
    padding: 12px 10px;
    background-color: var(--backgroundcolorofcards);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.43);
    font-size: 2em;
    border-radius: 8px;
  }

  .registration__label {
    font-size: 1.6em;
    color: white;
    margin-left: 5px;
  }
  .registration__parent {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .primary-button {
    padding: 8px 15px;
    border-radius: 9px;
    outline: none;
    border: none;
    background-color: #0062a2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
  }
  .primary-button:hover {
    background-color: #005993;
  }
  .primary-button:focus-visible {
    outline: 2px white solid;
  }

  input {
    color: white;
    caret-color: white;
  }

  input::placeholder {
    color: var(--grayColorFont);
  }
  input:focus {
    outline: 2px solid white;
  }
  .cancel-btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  .add-btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}

/* ! common used styles end*/

/* ! registration start*/

.registration {
  background-color: var(--borderColorPrimary);
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  font-size: 10px;
  max-width: 338px;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.registration-hide {
  background-color: var(--borderColorPrimary);
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  font-size: 10px;
  max-width: 338px;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s;
  opacity: 0;
}

.registration__name {
  font-size: 3.2em;
  text-align: center;
  align-self: center;
  font-weight: 300;
}

.registration__limits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}
.limits__income {
  width: calc((382px / 100) * 38);
}
.limits__expense {
  width: calc((382px / 100) * 38);
}

.registration__note {
  margin-top: 10px;
}

.note__text {
  color: #dbdbdb;
  font-size: 1.8em;
  font-style: italic;
}
.registration__confirm {
  margin-top: 10px;
  font-size: 2em;
}

/* ? registration media query 655px */
@media screen and (max-width: 655px) {
  .registration {
    font-size: 8px;
    max-width: 300px;
    gap: 7px;
  }
  .registration-hide {
    font-size: 8px;
    max-width: 300px;
    gap: 7px;
  }

  .limits__income {
    width: 100%;
  }
  .limits__expense {
    width: 100%;
  }
}

/* ! registration end */

/* ! main interface start */

.wrapper-dashboard {
  min-height: 100vh;
  background-color: #101554;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

/* ! wrapper-dashboard media query 768px */
@media screen and (max-width: 768px) {
  .wrapper-dashboard {
    padding: 20px 100px;
  }
}

/* ! the up side content start */

.priceboard {
  display: grid;
  grid-template-areas: "priceboard-income priceboard-expense time";
  grid-template-columns: 33% 33% 34%;
  background-color: var(--backgroundcolorofcards);
  border: 1px solid var(--borderColorPrimary);
  font-size: 10px;
  padding: 18px 0px;
  visibility: hidden;
  opacity: 0;

  .income-priceboard {
    grid-area: priceboard-income;
  }
  .expense-priceboard {
    grid-area: priceboard-expense;
  }
  .time {
    grid-area: time;
  }
  .priceboard__income {
    display: flex;
    flex-direction: row;
  }
  .income__main {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-basis: 100%;
    gap: 17px;
    padding: 0px 10px 0px 14px;
  }
  .income__alltime {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .income__alltime-numbers {
    font-size: 3.7em;
    font-weight: 900;
    line-height: 1;
  }
  .income__alltime-text {
    font-size: 1.7em;
    color: var(--grayColorFont);
    align-self: flex-end;
  }
  .income__today {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .income__today-numbers {
    font-size: 3.7em;
    font-weight: 900;
    line-height: 1;
  }
  .income__today-text {
    font-size: 1.7em;
    color: var(--grayColorFont);
    align-self: flex-end;
  }
  .income__rest {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .income__rest-numbers {
    font-size: 3.7em;
    font-weight: 900;
    line-height: 1;
  }
  .income__rest-text {
    font-size: 1.7em;
    color: var(--grayColorFont);
    align-self: flex-end;
  }
  .progress-bar-parent {
    width: 100%;
    height: 8px;
    background-color: #9e9e9e;
    border-radius: 100px;
    position: relative;
  }
  .income__progress {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5px;
    gap: 10px;
  }
  .income__progress-text {
    font-size: 2.3em;
    color: #5de633;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .expense__progress-text {
    font-size: 2.3em;
    color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .income__progress-bar {
    background-color: #00ff6d;
    height: 8px;
    border-radius: 100px;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease-in-out;
  }
  #expense-progress-bar {
    background-color: #ff0000;
    height: 8px;
    border-radius: 100px;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease-in-out;
  }
  .income__divider {
    align-self: flex-end;
    width: 2px;
    height: 100%;
    background-color: #bfbfbf;
    border-radius: 100px;
  }
  .priceboard__time {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 14px;
  }
  .time__date {
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1;
  }
  .time__hour {
    font-size: 2.1em;
    font-weight: 700;
    color: var(--grayColorFont);
  }
}

/* ? priceboard media query 1300px */
@media screen and (max-width: 1300px) {
  .priceboard {
    font-size: 7px;
  }
}

/* ? priceboard media query 1000px */
@media screen and (max-width: 1000px) {
  .priceboard {
    grid-template-areas: "priceboard-income time priceboard-expense";
    grid-template-columns: 40% 20% 40%;
    font-size: 7px;
    padding: 15px 0px;

    .income__main {
      gap: 15px;
    }
    .expense-priceboard {
      display: flex;
    }
    .expense__main {
      align-items: end;
      padding: 0px 14px 0px 10px;
      order: 1;
    }
    .expense__alltime {
      flex-direction: row-reverse;
    }
    .expense__today {
      flex-direction: row-reverse;
    }
    .expense__rest {
      flex-direction: row-reverse;
    }
    .progress-bar-parent {
      height: 7px;
    }
    .income__progress {
      gap: 5px;
    }
    .income__progress-bar {
      height: 7px;
    }
    #expense-progress-bar {
      height: 7px;
    }
    .expense__divider {
      order: 0;
    }
    .priceboard__time {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0px;
    }
    .time__date {
      font-size: 2.6em;
      font-weight: 700;
      line-height: 1;
    }
    .time__hour {
      font-size: 2.1em;
      font-weight: 700;
      color: var(--grayColorFont);
    }
  }
}

/* ? priceboard media query 600px */
@media screen and (max-width: 600px) {
  .priceboard {
    grid-template-areas:
      "priceboard-income"
      "priceboard-expense";
    grid-template-columns: 100%;
    font-size: 6px;
    padding: 0px;
    border: none;
    background-color: #101554;
    gap: 20px;

    .income-priceboard {
      position: relative;
      background-color: var(--backgroundcolorofcards);
      border: 1px solid var(--borderColorPrimary);
      padding: 20px 15px;
    }
    .income__main {
      gap: 15px;
      padding: 0px;
    }
    .expense-priceboard {
      display: flex;
      background-color: var(--backgroundcolorofcards);
      border: 1px solid var(--borderColorPrimary);
    }
    .expense__main {
      align-items: start;
      padding: 20px 15px;
      order: 1;
    }
    .expense__alltime {
      flex-direction: row;
    }
    .expense__today {
      flex-direction: row;
    }
    .expense__rest {
      flex-direction: row;
    }
    .progress-bar-parent {
      height: 6px;
    }
    .income__progress-bar {
      height: 6px;
    }
    #expense-progress-bar {
      height: 6px;
    }
    .income__divider {
      display: none;
    }
    .priceboard__time {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding-right: 0px;
      gap: 3px;
      position: absolute;
      right: 15px;
      top: 20px;
    }
  }
}

/* ! the up side content end */

/* ! the cards content start */

.cards {
  display: grid;
  grid-template-areas: "cards-income cards-expense cards__card";
  grid-template-columns: 33% 33% 34%;
  flex: 1 1 100%;
  visibility: hidden;
  opacity: 0;
  font-size: 10px;

  #cards-income {
    grid-area: cards-income;
    margin-right: 14px;
  }
  #cards-expense {
    grid-area: cards-expense;
    margin: 0px 14px;
  }
  .pricecard__income-border {
    display: none;
  }
  .pricecard__expense-border {
    display: none;
  }
  .cards__pricecard {
    background-color: var(--backgroundcolorofcards);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--borderColorPrimary);
    padding: 20px 30px;
  }
  .pricecard__main {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .pricecard__inputs {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .pricecard__input {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .pricecard__input-label {
    font-size: 1.8em;
    color: white;
    margin-left: 12px;
  }
  .pricecard__input-input {
    padding: 11px 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: var(--borderRadiusPrimary);
    font-size: 1.8em;
  }

  .pricecard__input-input:focus {
    background-color: #22276f;
    outline: 1px solid white;
  }

  .pricecard__buttons {
    display: flex;
    gap: 20px;
  }
  .pricecard__divider {
    width: 100%;
    height: 2px;
    background-color: #bfbfbf;
    border-radius: 100px;
  }
  .pricecard__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1 1 auto;
  }
  .list__title {
    font-size: 3.2em;
    text-align: center;
  }
  .list__title span {
    color: var(--grayColorFont);
    font-size: 0.6em;
  }
  .list__list-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 0px;
    overflow-y: auto;
    gap: 10px;
    padding-right: 12px;
  }
  .list__list-wrapper::-webkit-scrollbar {
    width: 8px;
  }

  .list__list-wrapper::-webkit-scrollbar-track {
    background: #101554;
    border-radius: 100px;
  }

  .list__list-wrapper::-webkit-scrollbar-thumb {
    background: #f9f871;
    border-radius: 100px;
  }
  .list__item {
    background-color: #101554;
    border-radius: var(--borderRadiusPrimary);
    display: flex;
    gap: 8px;
    cursor: pointer;
  }
  .list__item-amount {
    padding: 10px 6px;
    font-size: 2.8em;
    font-weight: 700;
    flex: 0 0 15%;
    overflow: hidden;
  }
  .list__item-divider {
    width: 2px;
    background-color: #2d337e;
    height: 100%;
  }
  .list__item-date {
    padding: 10px 6px;
    font-size: 2.8em;
  }
  .list__item-desc {
    padding: 10px 6px;
    font-size: 2.8em;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cards__user {
    grid-area: cards__card;
    margin-left: 14px;
    background-color: var(--backgroundcolorofcards);
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid var(--borderColorPrimary);
    padding: 20px 30px;
  }
  .user__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .profile__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .profile__image {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .profile__username {
    font-size: 4em;
  }
  .user__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex: 1 0 0px;
  }
  .cards__card {
    background-color: #6b70ae;
    padding: 10px;
    border-radius: var(--borderRadiusPrimary);
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .card__title {
    font-size: 2.2em;
    color: var(--grayColorFont);
    flex: 1 0 0px;
  }
  .card__desc {
    font-size: 2.2em;
    align-self: flex-end;
    justify-self: flex-end;
  }
  .user__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .set-limit-hidden {
    padding: 11px 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: var(--borderRadiusPrimary);
    font-size: 2em;
    max-width: 0%;
    display: none;
  }
  .set-limit-active {
    padding: 14px 18px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: var(--borderRadiusPrimary);
    font-size: 2em;
    height: 32px;
    display: block;
    animation: limit-set forwards linear 0.5s;
  }

  .set-limit-active:focus {
    background-color: #22276f;
    outline: 1px solid white;
  }
  .user__buttons-primiry {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .cancel-btn-hidden {
    background-color: var(--primaryRed);
    padding: 8px 15px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: none;
  }
  .add-btn-hidden {
    background-color: var(--primaryBlue);
    padding: 8px 15px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: none;
  }
  .cancel-btn-active {
    background-color: var(--primaryRed);
    padding: 8px 15px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: limit-set forwards linear 0.5s;
  }
  .cancel-btn-active:hover {
    background-color: #e30000;
  }
  .cancel-btn-active:active {
    background-color: #bb0000;
  }
  .cancel-btn-active:focus-visible {
    outline: 2px solid white;
  }
  .add-btn-active {
    background-color: var(--primaryBlue);
    padding: 8px 15px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: limit-set forwards linear 0.5s;
  }
  .add-btn-active:hover {
    background-color: #005993;
  }
  .add-btn-active:active {
    background-color: #004e82;
  }
  .add-btn-active:focus-visible {
    outline: 2px solid white;
  }
}

/* ? cards media query 1300px */
@media screen and (max-width: 1300px) {
  .cards {
    font-size: 7px;
  }
}

/* ? cards media query 1000px*/
@media screen and (max-width: 1000px) {
  .cards {
    display: grid;
    grid-template-areas:
      "cards-income cards-expense"
      "cards__card cards__card";
    grid-template-columns: 50% 50% 100%;
    font-size: 7px;
    row-gap: 20px;

    #cards-income {
      grid-area: cards-income;
      margin-right: 0px;
      border-right: 0px;
      position: relative;
    }
    #cards-expense {
      grid-area: cards-expense;
      margin: 0px 0px;
      border-left: 0px;
      position: relative;
    }
    .pricecard__income-border {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 100px;
      width: 1px;
      height: calc(100% - 40px);
      background-color: #bfbfbf;
      margin: 20px 0px;
    }
    .pricecard__expense-border {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 100px;
      width: 1px;
      height: calc(100% - 40px);
      background-color: #bfbfbf;
      margin: 20px 0px;
    }

    .cards__pricecard {
      gap: 25px;
      padding: 20px 0px;
    }
    .pricecard__main {
      padding: 0px 15px;
    }
    .pricecard__buttons {
      gap: 10px;
    }

    .pricecard__divider-income {
      margin-left: 15px;
      width: calc(100% - 15px);
    }
    .pricecard__divider-expense {
      margin-right: 15px;
      width: calc(100% - 15px);
    }
    .pricecard__list {
      padding: 0px 15px;
      gap: 15px;
      flex: 1 0 200px;
    }
    .cards__user {
      grid-area: cards__card;
      margin-left: 0px;
      flex-direction: row;
      gap: 55px;
      padding: 20px 30px;
      flex: 0;
    }
    .user__profile {
      flex-direction: row;
      gap: 15px;
    }
    .user__buttons {
      gap: 10px;
    }

    .cancel-btn-hidden {
      padding: 5px 10px;
      font-size: 12px;
    }
    .add-btn-hidden {
      padding: 5px 10px;
      font-size: 12px;
    }
    .cancel-btn-active {
      padding: 5px 10px;
      font-size: 12px;
    }
    .add-btn-active {
      padding: 5px 10px;
      font-size: 12px;
    }
  }
}

/* ? cards media query 600px */
@media screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-areas:
      "cards-income"
      "cards-expense"
      "cards__card";
    grid-template-columns: 100%;
    font-size: 6px;
    row-gap: 20px;

    #cards-income {
      grid-area: cards-income;
      margin-right: 0px;
      border-right: 1px solid #6b70ae;
      position: relative;
    }
    #cards-expense {
      grid-area: cards-expense;
      margin: 0px 0px;
      border-left: 1px solid #6b70ae;
      position: relative;
    }
    .pricecard__income-border {
      display: none;
    }
    .pricecard__expense-border {
      display: none;
    }

    .cards__pricecard {
      gap: 25px;
      padding: 20px 15px;
    }
    .pricecard__main {
      padding: 0px;
    }
    .pricecard__buttons {
      gap: 10px;
    }

    .pricecard__divider-income {
      width: 100%;
      margin: 0px;
    }
    .pricecard__divider-expense {
      width: 100%;
      margin: 0px;
    }
    .pricecard__list {
      padding: 0px;
      gap: 15px;
      flex: 1 0 200px;
    }
    .cards__user {
      grid-area: cards__card;
      margin-left: 0px;
      padding: 20px 15px;
      flex: 0;
      flex-direction: column;
      gap: 25px;
    }
    .user__profile {
      flex-direction: column;
      gap: 15px;
    }
  }
}

/* ! the cards content end */

/* ! popup start */

.popup-active {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px 15px;
  background-color: #6b70ae;
  font-size: 10px;
  min-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px 15px;
  background-color: #6b70ae;
  font-size: 10px;
  min-width: 350px;
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.popup__title {
  color: white;
  font-size: 3.2em;
  text-align: center;
}
.popup__content {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.content__amount,
.content__date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px;
  background-color: #2d337e;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.content__amount-static,
.content__date-static {
  color: var(--grayColorFont);
  font-size: 2em;
}
.content__amount-text,
.content__date-text {
  font-size: 2em;
  color: white;
}

.content__desc {
  padding: 16px 10px;
  background-color: #2d337e;
  border-radius: 10px;
  max-width: 338px;
  box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.5);
}
.content__desc-static {
  color: var(--grayColorFont);
  font-size: 2em;
}
.content__desc-text {
  font-size: 2em;
  color: white;
  word-break: break-all;
}
.content__buttons {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}
.content__buttons img {
  width: 20px;
  height: 20px;
}

/* ? popup media query 600px */
@media screen and (max-width: 600px) {
  .popup-active {
    gap: 10px;
    padding: 10px 12px;
    font-size: 8px;
    max-width: 280px;
    min-width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
  }
  .popup {
    gap: 10px;
    padding: 10px 12px;
    font-size: 8px;
    max-width: 280px;
    min-width: 280px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
  .popup__content {
    gap: 15px;
  }
  .content__amount,
  .content__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
  }
  .content__desc {
    padding: 12px 8px;
    max-width: 280px;
  }
  .content__desc-text {
    font-size: 2em;
    color: white;
    word-break: break-all;
  }
}

/* ! popup end */

/* ! fade start */

.fade {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.54);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ! fade end */

/* ! keyframes start */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes limit-set {
  from {
    max-width: 0%;
    opacity: 0;
  }
  to {
    max-width: 100%;
    opacity: 1;
  }
}

/* ! keyframes end */
